---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=38.26375&longitude=-104.61252&term=italian
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <yelp>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - e7ca130cb628d789
      Ratelimit-Remaining:
      - '466.0'
      Ratelimit-Resettime:
      - '2024-01-16T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-jjgrh; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-166-92-useast1bprod
      X-Extlb:
      - 10-65-166-92-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "ohD11-Q1y0Y3tNy0LjyTqw", "alias": "la-forchetta-da-massi-pueblo",
        "name": "La Forchetta Da Massi", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/wvsyEbbKI049FMFcfSk0kQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/la-forchetta-da-massi-pueblo?adjust_creative=RsxZMOhrMQgBwecM-g8b-A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=RsxZMOhrMQgBwecM-g8b-A",
        "review_count": 230, "categories": [{"alias": "italian", "title": "Italian"},
        {"alias": "wine_bars", "title": "Wine Bars"}], "rating": 4.5, "coordinates":
        {"latitude": 38.2645118031982, "longitude": -104.613206125796}, "transactions":
        ["delivery"], "price": "$$", "location": {"address1": "126 S Union Ave", "address2":
        "", "address3": null, "city": "Pueblo", "zip_code": "81003", "country": "US",
        "state": "CO", "display_address": ["126 S Union Ave", "Pueblo, CO 81003"]},
        "phone": "+17192530126", "display_phone": "(719) 253-0126", "distance": 103.74927346913104},
        {"id": "C7-zN-vSl7M1mFDE2ZVV9g", "alias": "guss-place-pueblo", "name": "Gus''s
        Place", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/0qWyZZAzApC-TgSW2wCJ8Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/guss-place-pueblo?adjust_creative=RsxZMOhrMQgBwecM-g8b-A&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=RsxZMOhrMQgBwecM-g8b-A",
        "review_count": 19, "categories": [{"alias": "italian", "title": "Ita[...]
